
.caja {
    border-top: 4px solid red;
    border-bottom: 4px dashed blue;
    margin: 20px;
    padding: 15px;
    background-color: #f9f9f9;
}

.texto-indentado {
    text-indent: 50px;
}

.alineado {
    vertical-align: middle;
    background: #eee;
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

.stroke {
    color: black;
    -webkit-text-stroke: 1px red;
    font-size: 24px;
}

.wrap {
    white-space: normal;
    word-wrap: break-word;
}
